# OSX
#
.DS_Store

# Android/IntelliJ
#
build/
.idea
.gradle
keystore.properties
local.properties
*.iml
*.hprof
.cxx/
keystore.properties
*.keystore
*.jks

# 华为 AGConnect 配置文件（包含隐私信息）
# app/agconnect-services.json

# Bundle artifacts
*.jsbundle
keystore.properties
